/* Theme Variables */
:root {
  --bg-color: #fff;
  --text-color: #000;
  --border-color: #000;
  --button-bg: #fff;
  --button-text: #000;
  --button-hover-bg: #000;
  --button-hover-text: #fff;
  --th-bg: #000;
  --th-text: #fff;
}

[data-theme="dark"] {
  --bg-color: #000;
  --text-color: #fff;
  --border-color: #fff;
  --button-bg: #000;
  --button-text: #fff;
  --button-hover-bg: #fff;
  --button-hover-text: #000;
  --th-bg: #fff;
  --th-text: #000;
}